<div class="row">
  <div class="col-sm-9">
    <h3>
      <i class="far fa-calendar"></i>
      <%= @class[:date] %>
    </h3>
    <h1><%= @class[:title] %></h1>
    <p><%= @class[:description] %></p>
    <% end %>