<h1>Sign Up</h1>
<p>Note: Participation in NeverSweatAlone Virtual Gym requires a OnePeloton account. If you do not have one, consider <a href="https://www.onepeloton.com">signing up.</a></p> 

<form action="/users/create" method="POST">
  <div class="form-group">
    <label>Your name</label>
    <input type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" placeholder="name@example.com" name="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password">
  </div>
    <div class="form-group">
    <label>Peloton Username</label>
    <input type="text" class="form-control" name="peloton_username">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>